* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: "latobold";
    src: url(./font/lato/latobold.woff2);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.container_nav {
    height: 75px;
}

.navigation {
    display: flex;
    background-color: #222;
    align-items: center;
    justify-content: space-around;
}

.bottom {
    border: none;
    background: none;
    display: flex;
    align-items: flex-end;
}

.bottom_container_left {
    width: 111px;
    height: 38px;
    display: flex;
    justify-content: space-between;
}

.bottom_container_right {
    width: 159px;
    height: 29px;
    display: flex;
    justify-content: space-between;
}

.top_content {
    max-height: 764px;
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;
}

.top_text_container {
    width: 405px;
    height: 93.1px;
    display: flex;
    align-self: center;
    border-left: 12px solid #F16D7F;
}

.top_text_1 {
    font-family: latobold;
    font-size: 48px;
    line-height: 57.6px;
    color: #222222;
}

.top_text_2 {
    font-family: latobold;
    font-size: 32px;
    line-height: 38.4px;
    color: #222222;
}

.top_text_3 {
    font-family: latobold;
    font-size: 37px;
    line-height: 44.4px;
    color: #F16D7F;
}

.text_padding {
    padding-left: 16px;
}

.content_center {
    max-width: 1140px;
    margin: 0 auto;
}

.content_center_top {
    display: flex;
    margin-top: 65px;
    padding-bottom: 30px;
    gap: 30px;
}

.img {
    position: relative;
    width: 360px;
    height: 260px;
    text-align: center;
}

.img_long {
    width: 1140px;
    height: 180px;
}

.img img {
    width: 100%;
}

.img:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 22, 22, 0.70);
}

.content:after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_sale {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_sale_top {
    color: #FFF;
    text-align: center;
    font-family: latobold;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text_sale_bottom {
    color: #F16D7F;
    font-family: latobold;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.center {
    margin-top: 96px;
    margin-bottom: 48px;
}

.text_center_top {
    text-align: center;
    color: #222;
    font-family: latobold;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 6px;
}

.text_center_bottom {
    text-align: center;
    color: #9F9F9F;
    font-family: latobold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.text_card_top {
    color: #000;
    font-family: latobold;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
}

.text_card_center {
    color: #5D5D5D;
    font-family: latobold;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 16px;
    width: 315px;
}

.text_card_bottom {
    color: #F16D7F;
    font-family: latobold;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
}

.card {
    background: #F8F8F8;
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 360px;
    height: 586px;
    padding-top: 0px;
}

.down {
    width: 212px;
    height: 48px;
    border: 2px solid #FF6A6A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 48px;
}

.text_down {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: none;
}